document.writeln("<style type=\"text/css\">");
document.writeln("body{ margin-bottom:60px !important;}");
document.writeln("a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}");
document.writeln("ul,li{ list-style:none; margin:0;padding:0}");
document.writeln("#plug-wrap {");
document.writeln("	position: fixed;");
document.writeln("top: 0;");
document.writeln("left: 0;");
document.writeln("width: 100%;");
document.writeln("height: 100%;");
document.writeln("background: rgba(0, 0, 0, 0);");
document.writeln("	z-index:800;");
document.writeln("}");
document.writeln(".top_bar {");
document.writeln("	position:fixed;");
document.writeln("	bottom:0;");
document.writeln("	left:0px;");
document.writeln("	z-index:900;");
document.writeln("	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);");
document.writeln("	font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif;");
document.writeln("}");
document.writeln(".plug-menu {");
document.writeln("	-webkit-appearance:button;");
document.writeln("	display:inline-block;");
document.writeln("	width:36px;");
document.writeln("	height:36px;");
document.writeln("	border-radius:36px;");
document.writeln("	position: absolute;");
document.writeln("	bottom:17px;");
document.writeln("	left: 17px;");
document.writeln("	z-index:999;");
document.writeln("	box-shadow: 0 0 0 4px #FFFFFF, 0 2px 5px 4px rgba(0, 0, 0, 0.25);");
document.writeln("	background-color: #B70000;");
document.writeln("	-webkit-transition: -webkit-transform 200ms;");
document.writeln("	-webkit-transform:rotate(1deg);");
document.writeln("	color:#fff;");
document.writeln("	background-image:url(http://www.weiqimobile.com/weiqiimg/weiqimenu/nQHAVFzDbj.png);");
document.writeln("	background-repeat: no-repeat;");
document.writeln("	-webkit-background-size: 80% auto;");
document.writeln("	background-size: 80% auto;");
document.writeln("	background-position: center center;");
document.writeln("}");
document.writeln(".plug-menu:before {");
document.writeln("	font-size:20px;");
document.writeln("	margin:9px 0 0 9px;");
document.writeln("}");
document.writeln(".plug-menu:checked {");
document.writeln("	-webkit-transform:rotate(135deg);");
document.writeln("}");
document.writeln(".top_menu>li {");
document.writeln("	width: 32px;");
document.writeln("	height:32px;");
document.writeln("	border-radius:32px;");
document.writeln("	box-shadow: 0 0 0 3px #FFFFFF, 0 2px 5px 3px rgba(0, 0, 0, 0.25);");
document.writeln("	background:#B70000;");
document.writeln("	position:absolute;");
document.writeln("	bottom:0;");
document.writeln("	left:0;");
document.writeln("	margin-bottom: 20px;");
document.writeln("	margin-left: 20px;");
document.writeln("	z-index:900;");
document.writeln("	-webkit-transition: -webkit-transform 200ms;");
document.writeln("}");
document.writeln(".top_menu>li a {");
document.writeln("	color:#fff;");
document.writeln("	font-size:20px;");
document.writeln("	display: block;");
document.writeln("	height: 100%;");
document.writeln("	line-height: 33px;");
document.writeln("	text-align: center;");
document.writeln("}");
document.writeln(".top_menu>li>a label{");
document.writeln("display:none;");
document.writeln("}");
document.writeln(".top_menu>li a img {");
document.writeln("display: block;");
document.writeln("width: 22px;");
document.writeln("height: 22px;");
document.writeln("text-indent: -999px;");
document.writeln("position: absolute;");
document.writeln("top: 50%;");
document.writeln("left: 50%;");
document.writeln("margin-top: -11px;");
document.writeln("margin-left: -11px;");
document.writeln("}");
document.writeln(".top_menu>li.on:nth-of-type(1) {");
document.writeln("-webkit-transform: translate(0, -100px) rotate(720deg);");
document.writeln("}");
document.writeln(".top_menu>li.on:nth-of-type(2) {");
document.writeln("-webkit-transform: translate(47px, -81px) rotate(720deg);");
document.writeln("}");
document.writeln(".top_menu>li.on:nth-of-type(3) {");
document.writeln("-webkit-transform: translate(81px, -45px) rotate(720deg);");
document.writeln("}");
document.writeln(".top_menu>li.on:nth-of-type(4) {");
document.writeln("-webkit-transform: translate(100px, 0) rotate(720deg);");
document.writeln("}");
document.writeln(" ");
document.writeln("#sharemcover {");
document.writeln("position: fixed;");
document.writeln("top: 0;");
document.writeln("left: 0;");
document.writeln("width: 100%;");
document.writeln("height: 100%;");
document.writeln("background: rgba(0, 0, 0, 0.7);");
document.writeln("display: none;");
document.writeln("z-index: 20000;");
document.writeln("}");
document.writeln("#sharemcover img {");
document.writeln("position: fixed;");
document.writeln("right: 18px;");
document.writeln("top: 5px;");
document.writeln("width: 260px;");
document.writeln("height: 180px;");
document.writeln("z-index: 20001;");
document.writeln("border:0;");
document.writeln("}");
document.writeln("</style>");
document.writeln(" ");
document.writeln("<div id=\"sharemcover\" onClick=\"document.getElementById(\'sharemcover\').style.display=\'\';\" style=\" display:none\"><img src=\"weiqiimg/weiqimenu/MgnnofmleM.png\"></div>");
document.writeln(" ");
document.writeln("<div class=\"top_bar\" style=\"-webkit-transform:translate3d(0,0,0)\">");
document.writeln("<nav>");
document.writeln("    <ul id=\"top_menu\" class=\"top_menu\">");
document.writeln("      <input type=\"checkbox\" id=\"plug-btn\"   class=\"plug-menu themeStyle\">"); 
<?php
foreach((array)$s as $b){
echo 'document.writeln("          <li class=\"themeStyle out\"> <a href=\"'.$b->url.'\"><img src=\"'.$b->img.'\"><label>'.$b->name.'</label></a></li>");';
}
?>
document.writeln("</ul>");
document.writeln("  </nav>");
document.writeln("</div>");
document.writeln("");
document.writeln("<div id=\"plug-wrap\" style=\"display: none;\"></div>");
document.writeln("<script>");
document.writeln("	window.addEventListener(\"DOMContentLoaded\", function(){");
document.writeln("		btn = document.getElementById(\"plug-btn\");");
document.writeln("		btn.onclick = function(){");
document.writeln("			var divs = document.getElementById(\"top_menu\").querySelectorAll(\"li\");");
document.writeln("			var className = className=this.checked?\"themeStyle on\":\"themeStyle out\";");
document.writeln("			for(i = 0;i<divs.length; i++){");
document.writeln("				divs[i].className = className;");
document.writeln("			}");
document.writeln("			document.getElementById(\"plug-wrap\").style.display = \"themeStyle on\" == className? \"\":\"none\";");
document.writeln("		}");
document.writeln("		");
document.writeln("	btn2 = document.getElementById(\"plug-wrap\");");
document.writeln("	btn2.onclick = function(){");
document.writeln("			 btn.click();");
document.writeln("		}");
document.writeln("	}, false);");
document.writeln("</script>");
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
WeixinJSBridge.call('hideToolbar');
});