document.writeln("<style type=\"text/css\">");
document.writeln("body { margin-bottom:60px !important; }");
document.writeln("a, button, input { -webkit-tap-highlight-color:rgba(255, 0, 0, 0); }");
document.writeln("ul, li { list-style:none; margin:0; padding:0 }");
document.writeln("#plug-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); z-index:800; transition: all 100ms ease-out; -webkit-transition: all 100ms ease-out; }");
document.writeln(".top_bar { position:fixed; bottom:0; right:0px; z-index:900; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }");
document.writeln(".plug-menu { -webkit-appearance:button; display:inline-block; width:36px; height:36px; border-radius:36px; position: absolute; bottom:17px; right: 17px; z-index:999; box-shadow: 0 0 0 4px #FFFFFF, 0 2px 5px 4px rgba(0, 0, 0, 0.25); background-color: #B70000; -webkit-transition: -webkit-transform 200ms; -webkit-transform:rotate(1deg); color:#fff; background-image:url(weiqiimg/weiqimenu/nQHAVFzDbj.png); background-repeat: no-repeat; -webkit-background-size: 80% auto; background-size: 80% auto; background-position: center center; }");
document.writeln(".plug-menu:before { font-size:20px; margin:9px 0 0 9px; }");
document.writeln(".plug-menu:checked { -webkit-transform:rotate(135deg); }");
document.writeln(".top_menu { margin-right: 0px; }");
document.writeln(".top_menu>li { min-width: 86px; padding:0; height:32px; margin-bottom: 15px; margin-right: 15px; z-index:900; transition: all 200ms ease-out; -webkit-transition: all 200ms ease-out; }");
document.writeln(".top_menu>li:last-child { margin-bottom: 80px; }");
document.writeln(".top_menu>li a { color:#fff; font-size:20px; display: block; height: 100%; line-height: 33px; text-indent:32px; text-decoration:none; position:relative; font-size:16px; text-overflow:ellipsis; white-space:nowrap; text-align: right; }");
document.writeln(".top_menu>li a label { border-radius:32px; padding:5px 8px; background:#B70000; margin-right: 35px; }");
document.writeln(".top_menu>li a img { display: block; width: 30px; height: 30px; text-indent: -999px; position: absolute; top: 50%; right: 0; margin-top: -13px; margin-left: -12px; }");
document.writeln(" .top_menu>li.on:nth-last-child(6) {");
document.writeln("-webkit-transform: translate(-30px, 0) rotate(-25deg);");
document.writeln("transition: all 700ms ease-out;");
document.writeln("-webkit-transition: all 700ms ease-out;");
document.writeln("}");
document.writeln(".top_menu>li.on:nth-last-child(5) {");
document.writeln("-webkit-transform: translate(-20px, 0) rotate(-20deg);");
document.writeln("transition: all 600ms ease-out;");
document.writeln("-webkit-transition: all 600ms ease-out;");
document.writeln("}");
document.writeln(".top_menu>li.on:nth-last-child(4) {");
document.writeln("-webkit-transform: translate(-10px, 0) rotate(-15deg);");
document.writeln("transition: all 500ms ease-out;");
document.writeln("-webkit-transition: all 500ms ease-out;");
document.writeln("}");
document.writeln(".top_menu>li.on:nth-last-child(3) {");
document.writeln("-webkit-transform: translate(-5px, 0) rotate(-10deg);");
document.writeln("transition: all 400ms ease-out;");
document.writeln("-webkit-transition: all 400ms ease-out;");
document.writeln("}");
document.writeln(".top_menu>li.on:nth-last-child(2) {");
document.writeln("-webkit-transform: translate(-2px, 0) rotate(-5deg);");
document.writeln("transition: all 300ms ease-out;");
document.writeln("-webkit-transition: all 300ms ease-out;");
document.writeln("}");
document.writeln(".top_menu>li.on:nth-last-child(1) {");
document.writeln("-webkit-transform: translate(0, 0) rotate(0deg);");
document.writeln("transition: all 200ms ease-out;");
document.writeln("-webkit-transition: all 200ms ease-out;");
document.writeln("}");
document.writeln(" .top_menu>li.out:nth-of-type(1) {");
document.writeln("-webkit-transform: translate(0, 280px) rotate(0deg);");
document.writeln("transition: all 600ms ease-out;");
document.writeln("-webkit-transition: all 600ms ease-out;");
document.writeln("}");
document.writeln(".top_menu>li.out:nth-of-type(2) {");
document.writeln("-webkit-transform: translate(0, 235px) rotate(0deg);");
document.writeln("transition: all 500ms ease-out;");
document.writeln("-webkit-transition: all 500ms ease-out;");
document.writeln("}");
document.writeln(".top_menu>li.out:nth-of-type(3) {");
document.writeln("-webkit-transform: translate(0, 190px) rotate(0deg);");
document.writeln("transition: all 400ms ease-out;");
document.writeln("-webkit-transition: all 400ms ease-out;");
document.writeln("}");
document.writeln(".top_menu>li.out:nth-of-type(4) {");
document.writeln("-webkit-transform: translate(0, 145px) rotate(0deg);");
document.writeln("transition: all 300ms ease-out;");
document.writeln("-webkit-transition: all 300ms ease-out;");
document.writeln("}");
document.writeln(".top_menu>li.out:nth-of-type(5) {");
document.writeln("-webkit-transform: translate(0, 100px) rotate(0deg);");
document.writeln("transition: all 200ms ease-out;");
document.writeln("-webkit-transition: all 200ms ease-out;");
document.writeln("}");
document.writeln(".top_menu>li.out:nth-of-type(6) {");
document.writeln("-webkit-transform: translate(0, 55px) rotate(0deg);");
document.writeln("transition: all 100ms ease-out;");
document.writeln("-webkit-transition: all 100ms ease-out;");
document.writeln("}");
document.writeln(".top_menu>li.out { padding: 0; opacity: 0; }");
document.writeln("");
document.writeln("#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }");
document.writeln("#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }");
document.writeln("</style>");
document.writeln("<div id=\"sharemcover\" onClick=\"document.getElementById(\'sharemcover\').style.display=\'\';\" style=\" display:none\"><img src=\"weiqiimg/weiqimenu/MgnnofmleM.png\"></div>");
document.writeln(" ");
document.writeln("<div class=\"top_bar\" style=\"-webkit-transform:translate3d(0,0,0)\">");
document.writeln("<nav>");
document.writeln("      <input type=\"checkbox\" id=\"plug-btn\" class=\"plug-menu themeStyle\">");
document.writeln("    <ul id=\"top_menu\" class=\"top_menu\" style=\"display: none;\">"); 
<?php
foreach((array)$s as $b){
echo 'document.writeln("          <li class=\"themeStyle out\"> <a href=\"'.$b->url.'\"><img src=\"'.$b->img.'\"><label>'.$b->name.'</label></a></li>");';
}
?>
document.writeln("</ul>");
document.writeln("  </nav>");
document.writeln("</div>");
document.writeln("");
document.writeln("<div id=\"plug-wrap\" style=\"display: none;\"></div>");
document.writeln("<script>");
document.writeln("	window.addEventListener(\"DOMContentLoaded\", function(){");
document.writeln("		btn = document.getElementById(\"plug-btn\");");
document.writeln("		btn.onclick = function(){");
document.writeln("			var divs = document.getElementById(\"top_menu\").querySelectorAll(\"li\");");
document.writeln("			var className = className=this.checked?\"on\":\"out\";");
document.writeln("			for(i = 0;i<divs.length; i++){");
document.writeln("				divs[i].className = className;");
document.writeln("			}");
document.writeln("			document.getElementById(\"plug-wrap\").style.display = \"on\" == className? \"\":\"none\";");
document.writeln("			document.getElementById(\"top_menu\").style.display = \"on\" == className? \"\":\"none\";");
document.writeln("		}");
document.writeln("		");
document.writeln("	btn2 = document.getElementById(\"plug-wrap\");");
document.writeln("	btn2.onclick = function(){");
document.writeln("			 btn.click();");
document.writeln("		}");
document.writeln("	}, false);");
document.writeln("</script>");
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
WeixinJSBridge.call('hideToolbar');
});