/*焦点图*/
#focus{margin-top:10px;height:180px;display:none}
.gBox{margin:10px auto 20px;padding-top:5px;background:url(../../images/green/1000top.png) no-repeat}
	.gBoxC{background:url(../../images/green/1000mid.png) repeat-y;overflow:auto}
	.gBoxB{font-size:0;height:5px;background:url(../../images/green/1000btm.png) no-repeat}
.caseType{width:146px;margin-left:5px;font-size:14px;text-align:center}
	.caseType li{height:30px;line-height:30px;cursor:pointer}
	.caseType li.active{background:url(../../images/green/caseListbg.png) no-repeat;font-weight:bold}
.caseBox{width:844px;height:800px;background:url(../../images/green/casebg.png) no-repeat}

#caseLogo{padding:25px 0 0 27px;text-align:center;height:130px;overflow:hidden}
	#caseLogo li{width:100px;float:left;margin-right:15px;height:130px}
	#caseLogo .mix{display:none;opacity:0}
	#caseLogo a{display:block;height:100%;width:100%}
	#caseLogo a.on{background:url(../../images/green/caseLogoOn.png) center bottom no-repeat}
	#caseLogo span{display:block;text-align:center}
	#caseLogo img{height:80px;width:80px;border-radius:40px}
.caseCnt{padding:0 0 0 22px;height:645px;background:url(../../images/green/caseCnt.png) no-repeat 22px 0;overflow:hidden}



/*案例内容调用*/
#cnt{display:none;padding:30px 0 0 20px;overflow:auto}
	.imgBox{display:inline-block;float:left;margin-right:20px}
	.codeBox{padding:90px 0 0;width:190px;height:300px}
	.codebg{height:138px;padding:6px;background:url(../../images/green/codebg.png) no-repeat center;text-align:center}
	.codetext{text-align:center;font-size:16px;line-height:34px;padding-top:5px}
	.cname{font-weight:800;color:#000}