 <div class="mfooter">
<div class="m-one">
  <div class="m-one-l" style="width: 560px;">
<!--  <ul><li class="li-tit">新手入门</li>
  <li><A href="http://cainiaoapp.cn/htm/help/index-about.html" target=_blank>帮助中心</A></li>
  <li><A href="http://cainiaoapp.cn/htm/help/index-quick.html" target=_blank>快速开始</A></li>
  <li><A href="http://cainiaoapp.cn/htm/help/index-study.html" target=_blank>新手学堂</A></li>
  <li><A href="http://cainiaoapp.cn/htm/help/index-ztms.html"  target=_blank>马上制作</A></li></ul>
  <ul><li class="li-tit">服务指南</li>
  <li><A href="http://cainiaoapp.cn/htm/help/index-protocal.html" target=_blank>服务协议</A></li>
  <li><A href="http://cainiaoapp.cn/htm/help/index-questions.html" target=_blank>成为VIP</A></li>
  <li><A href="http://cainiaoapp.cn/htm/help/aboutus.html" target=_blank>关于我们</A></li>
  <li><A href="http://cainiaoapp.cn/htm/help/contact.html" target=_blank>联系方式</A></li></ul>-->
 <ul><li class="li-tit">企业服务</li>
  <li><img src="/res/index/img/iphone.png" width="13" height="20">&nbsp;<img src="/res/index/img/android.png" width="18" height="20"></li>
 <!-- <li><img src="/res/index/img/logo.png" width="88" height="30"></li>-->
<!-- <li class="li-tit">菜鸟应用</li><li><img src="/res/index/img/xlogo.png" width="88" height="30"></li>-->
<li><A href="/htm/help/index-about.html">关于我们</A></li>
<li><A href="/htm/help/index-about2.html">公司资质</A></li>
</ul>

<ul><li class="li-tit">服务指南</li>
  <li><A href="/htm/help/index-ptys.html">帮助中心</A></li>
  <li><A href="/htm/help/index-joinus.html">加入我们</A></li>
  <li><A href="/agencyAdmin/login.html">代理登录</A></li>
  </ul>
  
<ul><li class="li-tit">快速入门</li>
  <li><A href="/htm/help/index-ptys.html">平台优势</A></li>
  <li><A href="/htm/help/index-newone.html">新手指引</A></li>
  <li><A href="/htm/help/index-questions.html">常见问题</A></li>
  </ul>

  <ul class="weibo"><li class="li-tit">社交分享</li>
  <li><em class="w1"></em><A class=sina href="http://e.weibo.com/dxcxcn" target=_blank>新浪微博</A></li>
  <li><em class="w2"></em><A class=tenx href="http://e.t.qq.com/dxcxcn" target=_blank>腾讯微博</A></li>
  <li><em class="w3"></em><A class=qq href="http://dxcxcn.t.sohu.com" target=_blank>搜狐微博</A></li></ul>
  
  </div>
    <div class="m-one-r" style="width: 350px;">
      <ul><li class="li-tit">盛世源码团队微信</li><li><img src="/res/index/img/zzbwxewm.jpg" width="110" height="110"></li></ul>
       <ul><li class="li-tit">盛世源码团队APP</li><li><img src="/res/index/img/zzbappewm.png" width="110" height="110"></li></ul>
    </div>
</div>
<div class="m-two">友情链接: <a target="_blank" href="http://www.www.weiqimobile.com/">{$_SERVER['WEB_NAME']}</a>
                    <a target="_blank" href="http://www.cainiaoapp.cn/">企业APP</a>                    
</div>
<div class="m-three"><span class="sp1">服务热线：0731-92345678 企业QQ：4006232003    招商加盟：18666666666  QQ：330169788 郭经理</span> 
<span class="sp2">Copyright 2005-2013 盛世源码团队&nbsp;版权所有</span></div>
</div>
